@import "tailwindcss";

:root {
    --background-color: oklch(98.4% 0.003 247.858);
    --foreground-color: black;
}

.dark {
    --background-color: #030712;
    --foreground-color: white;
}

@theme {
    --color-background: var(--background-color);
    --color-foreground: var(--foreground-color)
}

body {
    @apply bg-background text-foreground
}